.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__select{
        width: auto;
        height: auto;
        padding: 2px 25px;
        background-color: #FFC539;
    }
    .btn-success{
        margin-right: 5px;
        margin-left: 15px;
    }
}
@media screen and (max-width: 600px) {
    .form{
        justify-content: center;
    }
}