@keyframes ldio-zqnhqhb31uk {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-zqnhqhb31uk div {
    left: 125.92999999999999px;
    top: 61.67999999999999px;
    position: absolute;
    animation: ldio-zqnhqhb31uk linear 1s infinite;
    background: #0a0a0a;
    width: 5.14px;
    height: 30.839999999999996px;
    border-radius: 2.57px / 14.803199999999999px;
    transform-origin: 2.57px 66.82px;
  }.ldio-zqnhqhb31uk div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9444444444444444s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(2) {
    transform: rotate(20deg);
    animation-delay: -0.8888888888888888s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(3) {
    transform: rotate(40deg);
    animation-delay: -0.8333333333333334s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(4) {
    transform: rotate(60deg);
    animation-delay: -0.7777777777777778s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(5) {
    transform: rotate(80deg);
    animation-delay: -0.7222222222222222s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(6) {
    transform: rotate(100deg);
    animation-delay: -0.6666666666666666s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(7) {
    transform: rotate(120deg);
    animation-delay: -0.6111111111111112s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(8) {
    transform: rotate(140deg);
    animation-delay: -0.5555555555555556s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(9) {
    transform: rotate(160deg);
    animation-delay: -0.5s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(10) {
    transform: rotate(180deg);
    animation-delay: -0.4444444444444444s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(11) {
    transform: rotate(200deg);
    animation-delay: -0.3888888888888889s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(12) {
    transform: rotate(220deg);
    animation-delay: -0.3333333333333333s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(13) {
    transform: rotate(240deg);
    animation-delay: -0.2777777777777778s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(14) {
    transform: rotate(260deg);
    animation-delay: -0.2222222222222222s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(15) {
    transform: rotate(280deg);
    animation-delay: -0.16666666666666666s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(16) {
    transform: rotate(300deg);
    animation-delay: -0.1111111111111111s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(17) {
    transform: rotate(320deg);
    animation-delay: -0.05555555555555555s;
    background: #0a0a0a;
  }.ldio-zqnhqhb31uk div:nth-child(18) {
    transform: rotate(340deg);
    animation-delay: 0s;
    background: #0a0a0a;
  }
  .loadingio-spinner-spinner-kwnefvytxq8 {
    width: 257px;
    height: 257px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-zqnhqhb31uk {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-zqnhqhb31uk div { box-sizing: content-box; }
.spinner{
  margin: 0 auto;
  display: block;
}