.header{

    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
    flex: 0 0 auto;
    color: white;
    &__title{
        font-size: 2rem;
    }
    &__menu{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__money{
        padding: 2px 5px;
        vertical-align: middle;
        background-color: #6C757C;
        border-radius: .25rem;
        margin-right: 5px;
        span{
            display: inline-block;
            font-size: inherit;
            text-rendering: auto;
        }
    }
}